<div class="header">
<div class="leftname">
<div class="lefttitle">
 hogehuga
</div>
</div>
<div class="rightname">
<div class="right-button">
<a href="#">チャットを終了する</a>
</div>
</div>
</div>

<div class="main">
<div class="message">
    <div class="upper-message">
<div class="main-name">
Tom
</div>
<div class="message-date">
        2020/3/31(Wed) 12:43:30
      </div>
      <div class="lower-message">
<div class="main-goodmorning">
おはよう
</div>
</div>
</div>



<div class="fooder">
<div class="form-input">
  <input class="form-message" placeholder="type a message">
  <label class="form-image">
  <span class="form-image">
  <span class="image-file">画像</span>
  <input type="file" class="hidden">
  </label>
  </div>
  <input class="formsubmit" type="submit" value="送信">

</div>
